
 body{
    background-color:rgb(red, green, blue);
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: auto;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #A52A2A;
    height: 55px;
    position: sticky;
    top: 0px;
    
}

/* .navbar::before{
height: 50px;
display: flex;
background-color: lightblue;
opacity: 0.8;

} */
.logo1{
size: 100px;
height: 48px;
width: 45px;


padding-left: 35px;

position: sticky;


}


.navbar ul{
color: white;
/* margin-top: -55px; */
/* padding-right: 35px; */
/* height: 50px; */
display: flex;
text-decoration: none;
list-style: none;
flex-direction: row;
justify-content: center;

/* background-color: #A52A2A; */
font-family: 'Baloo Da 2', cursive;





/* margin-left: 10px; */

}

.navbar ul li a{
color: white;
padding: 3px 11px ;
border-radius: 10px;
font-size: 1rem;
font-family: 'Baloo Da 2', cursive;
text-decoration: none;

}
.navbar ul li a:hover{
padding: 3px 11px ;
border-radius: 10px;
font-size: 1rem;
background-color: gray;
cursor: pointer;
display: block;
color: white;
font-family: 'Baloo Da 2', cursive;

}



/* Home CSS */

#home{
display: flex;
margin-top: 50px;
padding: 0px 200px;
padding-right: -50px;
align-items: center;
justify-content: center;
flex-direction: column;
/* flex-flow: wrap; */
}


#home::before{
content: "";
position: absolute;
background: url(/images/front-img4.jpg) no-repeat center  center/cover;
opacity: 0.8;
z-index: -1;
height: 450px;
width: 100%;
margin-top: -28px;


}

#home  p{

margin: -25px;
padding: 0px 10px;
text-align: center;
color: white;
font-size: 22px;
}
#heading{
font-style: italic;
color: white;
display: block;
font-size: 27px;
text-align: center;
font-family: 'Balsamiq Sans', cursive;
}

#bttn{
padding: 1px;
margin-top: 40px;
width: 5rem;
border-radius: blue 8px;
background-color: tomato;
cursor: pointer;
font-family: 'Baloo Da 2', cursive;

}

.bttn:hover{
color: white;
background-color: black;
cursor: pointer;
}


.search{
display: flex;
justify-content: center;
align-items: center;
flex-flow: wrap;
}

.search-bar{
width: 500px;
height: 20px;
padding: 3px;
margin-top: 28px;

}

input[type="text"]{
    display: flex;
    align-content: flex-end;
    } 

.search-button{
width: 100px;
height: 35px;
border-radius: 5px;
margin-top: 26px;
background-color: tomato;
}
.search-button:hover{
background-color: black;
color: white;
}

.request-call .callus-heading{
color: white;
margin-top: 40px;
position: static;
font-family: 'Baloo Da 2', cursive;
text-align: center;

}

.call-details{

display: flex;
flex-direction: row;
justify-content: space-between 10px ;
margin-top: -5px;
margin-bottom: 0px;

}


  @media only screen and (max-width:600px){
   
    .call-details{

        display: flex;
        flex-direction: column;
        justify-content: space-between 10px ;
        margin-top: -5px;
        margin-bottom: 0px;
        
        
        }
  }



.send-button{
width: 75px;

border-radius: 5px red;
}
.send-button:hover{
background-color: black;
color: white;
}


 
/* our services css */

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px red;
    /* flex-flow: wrap; */
    
}

.service-box{
 color: white;
 border: 2px solid brown;
 padding: 10px;
 margin: 1px 34px;
 border-radius: 28px;
 background: #A52A2A;
 margin-bottom: 20px;
 margin-top: 30px;
 width: 230px;
    
}


/* Our Clients CSS */
   
 .clients{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Bree Serif', serif;
    
}

#clients-2{
    
    padding-bottom: 20px;
}


/* contact-form CSS */

#contact-form{
    background-color:gray;
}

.contact-form-box{
    width: 100%;
    height: 25%;
    border-radius: 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 
 .form{
  color: white;
  border: 2px solid brown;
  padding: 30px;
  margin: 1px 10px;
  border-radius: 28px;
  width: 300px;
  height: 250px;
  display: block;
  padding-bottom: 10px;
  font-family: 'Bree Serif', serif;
 }
 .textarea,input{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  
 }


/* Footer CSS */

#footer{
    
    color: white;
    background-color: black;
    padding: 20px;
    margin-top: 20px;
}


/* #footer::before{
   content: "";
   position: absolute;
   background: url(images/front-img2.jpg) ;
   z-index: -1;
   height: 20%;
   width: 100%;
} */


 /* utility classes */
 .centre-text{
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
}

.centre-size{
    font-size: 1.3rem;
    text-align: center;
}

/* services-logo css */

.food-logo{
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
}

.client-logo{
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    padding: 45px;
    padding-bottom: 0px;
    padding-top: 25px;
}

/* headind css */
#service-h{
    text-align: center;
    margin-top: 100px;
    font-size: 1.6rem;
} 

#client-h{
    text-align: center;
    margin:25px;
    font-size: 1.6rem;
    
}

#contact-form-h{
 text-align: center;
    margin: 25px;
    font-size: 1.6rem;
    color: white;
    
}



